#borda1{
    color: rgb(105, 105, 105);
    position: relative;
    text-align: center;
    background-color: rgb(133, 133, 133);}

#titulo1{
color: black;}

#linha2{
color: red;}

#linha3{
    color: rgb(255, 238, 0);}

#linha4{
    color: rgb(0, 255, 0);}



#fund2{
    background-color: black;}

#d1{
    color: blue;}

#d2{
    color: green;}

#d3{
    color: yellow;}

#d4{
    color: red;}